html
    head
        title Talk 2 Me
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
        //link(rel='stylesheet' type='text/css' href='css/main.css')
        link(rel='stylesheet' type='text/css' href='css/main2.css')
        script(src="js/main2.js")
    body
        ul
            a#infobox(href="#") Home
            a#profile(href="#") Profile
            a#finder(href="#") Find a Partner
        h1.profile Your Profile
        button#edit_button edit
        div#editing_pane
            div#known.listing.center_listing
                h3 Known Languages:
                select#language
                    option
                    option English
                    option Spanish
                    option French
                select#fluency
                    option
                    option Less than one year
                    option One to three years
                    option More than three years
                button#add add
            div#learn.listing.center_listing
                h3 Want to learn:
                select
                    option
                    option English
                    option Spanish
                    option French
                button#add add
        hr
        // Listing
        div.listing_container
            div#left.listing
                div.clear
                    span one
                    span two
                    div.delete delete 
                div.clear
                    span four 
                    span five 
                    div.delete delete 
            div#right.listing
                div.clear
                    span one
                    div.delete delete

