doctype html
html
  head
    title Talk 2 Me
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic|Quattrocento:400,700', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  body
    ul.menu
      li.infobox Home
      li#swapover.profile Profile
      li#myAss.finder Find a partner
    section.containerOne
      h1.title Talk2Me
      .viewer
        .infoBox
          h1.title Learning a new language is hard
          .boxy
            ul.this Thankfully, we can help!
            li.noteL
              | Language learning can be tough, because many of us don&apos;t get to practice speaking with native speakers
            li.noteC
              | Talk2Me lets you connect with native speakers and other learners to immerse yourself in your target language
            li.noteR All it takes is a Skype account and a Facebook account to get started
        img.peeps(src='peeps.png')
      .hider &nbsp;
    .container
      #infobox.infobox
        a.dirt(href='/auth/facebook')
          i#fasobook.fa.fa-facebook-square
      .profile
        .spacer &nbsp;
        #user.user
          h1.noClear Your profile
          #skype.skypeInfo
            .putter
              img.skypeIcon(src='skype.png')
              |  Skype name goes here
          table#profiler.endUser
            th.name Name
            th.knowit Known
            th.learning Learning
            th.progress Knowledge level
            tr
              td Jake bitch
              td English
              td Spanish
              td Beginner
        #editor
          form
            .info
              h3 Known languages:
              select#dropdownlan.dropdown
                option
                option English
                option Spanish
                option French
              select#dropdownyear.dropdown
                option
                option Less than one year
                option One to three years
                option More than three years
              span#add1.plus &nbsp;
            .info
              h3 Want to learn:
              select#dropdown.fulldrop
                option
                option English
                option Spanish
                option French
              span#add2.plus &nbsp;
          #selectL.selected
          #selectR.selected
      #myAss.finder
        table.person
          th.someName Name
          th.el1 Native Language
          th.adder Add Friend
          tr
            td Jack
            td spanglish
            td#addFriend
              i.fa.fa-plus-square
    script(src='js/main.js')
